.logomarca{
    background: rgb(0, 0, 0);
    text-align: center;
}
 .logomarca{
    width: ;}
.principal{
    background-color: rgba(206, 24, 24, 0.767);
    text-align: center;
}

h1 {color: #85eb4a;}

p{font-size: 20px;}