*{margin: 0;
    padding: 0px;
}

.logomarca{
    background: rgb(0, 0, 0);
    text-align: center;
}

.principal{
    background-color: rgba(197, 76, 76, 0.911);
    text-align: center;
    padding: 15px;
}

h1 {color: #fafff7;}

p{font-size: 20px;
    color: #000000;}


 

 