.logomarca{
    background: rgb(255, 252, 252);
    text-align: center;
}
 .logomarca{
    width: ;}
.principal{
    background-color: rgba(206, 24, 24, 0.767);
    text-align: center;
}

h1 {color: #85eb4a;}

p{font-size: 50px;}